:root {
  --color-prune: #5439c6;
  --color-mirtille: #836bd9;
  --color-menthe: #57d6ab;
  --color-menthe-glace: #bde7d9;
  --color-craie: #e5e5e5;
  --color-nuage: #c4c4c4;
  --color-cendre: #4f4f4f;
  --color-mauve: #c9c1e3;
  --color-fantome: #dcd9d9;
  --font-body: "Montserrat", sans-serif;
  --space-sm: 4px;
  --space-md: 8px;
  --space-l: 16px;
  --space-xl: 28px;
  --spave-xxl: 32px;
  --border: 1px;
  --color-body: black;
  --box-shadow: -3px 15px 20px rgba(0, 0, 0, 0.15);
  --box-shadow-hover: -3px 15px 20px rgba(0, 0, 0, 0.15);
  --font-body: "Montserrat", sans-serif;
  --font-size-body: 24;
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: "montserrat", sans-serif;
}

h1 {
  text-align: center;
}

html {
  font-family: var(--font-body);
}

.swatches {
  display: flex;
  flex-direction: row;
}

.swatch {
  height: 3rem;
  width: 7rem;
}

.prune {
  background-color: var(--color-prune);
}

.mirtille {
  background-color: var(--color-mirtille);
}

.mauve {
  background-color: var(--color-mauve);
}

.menthe {
  background-color: var(--color-menthe);
}
.menthe-glace {
  background-color: var(--color-menthe-glace);
}
.craie {
  background-color: var(--color-craie);
}
.nuage {
  background-color: var(--color-nuage);
}
.cendre {
  background-color: var(--color-cendre);
}
.fantome {
  background-color: var(--color-fantome);
}

.police {
  font-family: var(--font-body);
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.thirtysix {
  font-size: 36px;
}

.twentyeight {
  font-size: 28px;
}

.twentyfour {
  font-size: 24px;
}

.sixteen {
  font-size: 16px;
}

.fourteen {
  font-size: 14px;
}

.twelve {
  font-size: 12px;
}

.space {
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: row;
}

.fourpx {
  height: var(--space-sm);
  width: var(--space-sm);
  background-color: burlywood;
}

.space {
  font-size: 4px;
  margin: 4px;
}

.eightpx {
  height: var(--space-md);
  width: var(--space-md);
  background-color: burlywood;
}

.sixteenpx {
  height: var(--space-l);
  width: var(--space-l);
  background-color: burlywood;
}

.twentyeightpx {
  height: var(--space-xl);
  width: var(--space-xl);
  background-color: burlywood;
}

.thirtytwopx {
  height: var(--spave-xxl);
  width: var(--spave-xxl);
  background-color: burlywood;
}

.btn {
  padding: var(--space-md) var(--space-l);
  border-radius: 25px;
  font-size: var(--font-size-body);
  width: 239px;
  height: 45px;
}

.btn-primary {
  background: var(--color-mirtille);
}

.btn-primary-disable {
  background: var(--color-mauve);
}

.btn-primary:hover {
  background: var(--color-prune);
  box-shadow: var(--box-shadow-hover);
}

.btn-primary-focus {
  border: var(--border);
  background: var(--color-prune);
}

.btn-secondary {
  background: var(--color-menthe);
}

.btn-secondary-disable {
  background: var(--color-menthe-glace);
}

.btn-secondary:hover {
  background: var(--color-menthe);
  box-shadow: var(--box-shadow-hover);
}

.btn-secondary-focus {
  background: var(--color-menthe);
  border: var(--border);
}
